.striped-background{
    background-color: #000000;
}
.striped-background-light{
    background-color: #f8f8f8;
}
.image-background{
    background: url('../images/dark-bg.jpg');
    background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
}
.text-dark{
    color: #000000 !important;
}
.description{
    font-family:'Libre Baskerville';
}

p, p > *{
    font-family:'Libre Baskerville';
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.vc_custom_heading{
    font-family: "Playfair Display";
}
.vc_custom_1533616074133 {
    padding-top: 25% !important;
    padding-bottom: 25% !important;
    background-image: url(../images/about-bg-pic3.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.enquiry-form h3 {
    font-size: 46px !important;
    color: #333333 !important;
}
.enquiry-form {
    background-color: #d8b069;
    padding: 6px 14px;
}
.enquiry-form p {
    color: #fff;
    line-height: 21px;
}
.related-heading {
    font-size: 48px;
    font-weight: 700;
    position: relative;
    text-align: center;
}
.related-heading span {
    font-weight: 400;
    font-style: italic;
}
.two-lines {
    display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
}
.vc_custom_1533713574279 {
    padding-top: 2% !important;
    padding-bottom: 6% !important;
}
.vc_custom_1534824417093 {
    padding-bottom: 5% !important;
}
.vc_custom_1534824428717 {
    padding-bottom: 5% !important;
}
.single-content .single-wrapper article .post-thumbnail-wrapper .post-thumbnail img{
    object-fit: cover;
    object-position: center;
    height: 400px;
    width: 100%;
}
.posts-thumbnail-image a img {
    object-fit: cover;
    object-position: center;
    height: 50px;
    width: 100%;
}
.teammember-list {
    display: flex;
}
.blog-list {
    display: flex;
}
.post-category {
    background-color: #d8b069;
    padding: 2px 8px 2px 8px;
    margin-top: -24px;
    color: #fff;
    width: fit-content;
    position: relative;
    border-radius: 2px;
}
.three-lines {
    display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
}
.blog-shortcode-paging.load-more a {
    border: 2px solid #e6e6e6;
    padding: 6px 14px;
    border-radius: 4px;
}
.team-image img {
    object-fit: cover;
    object-position: center;
    height: 350px;
    width: 100%;
}
.sub-para {
    font-size: 16px;
}
.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li {
    margin-bottom: 22px;
}
.content-format li {
    padding-left: 6px !important;
}
.loading{
    display: none;
}
.stream-row {
    display: flex;
    justify-content: center;
}
.stream-item a {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    padding: 12px 14px;
    border-radius: 7px;
    align-items: center;
}
.stream-item a h3 {
    font-size: 14px;
    color: #000;
}
.stream-item a .fa-external-link {
    font-size: 11px;
}

.stream-item a .fa-spotify {
    color: #1ed760;
    font-size: 25px;
}
.stream-item a .fa-youtube {
    color: #ff0000;
    font-size: 25px;
}

.ribbon {
  position: relative;
}
.ribbon1 {
  position: absolute;
  top: -6.1px;
  right: 16px;
  z-index: 99;
}
.ribbon1:after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 10px solid #d8b069;
}
.ribbon1 span {
  position: relative;
  display: block;
  text-align: center;
  background: #d8b069;
  font-size: 14px;
  line-height: 1;
  padding: 12px 8px 10px;
  border-top-right-radius: 8px;
  width: auto;
  color: #fff;
}
.ribbon1 span:before, .ribbon1 span:after {
  position: absolute;
  content: "";
}
.ribbon1 span:before {
 height: 6px;
 width: 6px;
 left: -6px;
 top: 0;
 background: #d8b069;
}
.ribbon1 span:after {
 height: 6px;
 width: 8px;
 left: -8px;
 top: 0;
 border-radius: 8px 8px 0 0;
 background: #c58a22;
}

.achivement-background {
    padding: 60px 0;
}
.achivement-background h3 {
    color: #fff;
    font-size: 36px;
    font-weight: 600;
}
.achivement-background h3 span {
    font-weight: 100;
    font-style: italic;
}
.achivement-background p {
    color: #bbbbbb;
    margin-bottom: 26px;
}
.achivement-background .video-meta {
    background-color: #d8b069;
    width: fit-content;
    text-align: center;
    margin: auto;
    padding: 4px 24px;
    margin-top: -22px;
    position: relative;
    border-radius: 6px;
}
.achivement-background .video-meta .video-title {
    color: #000;
    margin-bottom: 0;
    font-size: 16px;
}
.achivement-background .video-meta .video-category {
    color: #fff;
    margin-top: -2px;
}




/* LightBox */

.lightboxpreview {
   transition: all .3s linear;
padding-top:60%;
  cursor:pointer;
  background-size:cover;
}
   
.lightbox-content {
max-height:75svh;
  height:75svh;
}

.lightbox-close { 
  cursor:pointer;
    margin-left: auto;
  position:absolute;
  right:-30px;
  top:-30px;
  color:white;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;}

.modalscale {transform:scale(0);
opacity:0;}



.lightbox-container, .lightbox-btn, .lightbox-image-wrapper, .lightbox-enabled{transition:all .4s ease-in-out;}
.lightbox_img_wrap {padding-top:65%;
  position:relative;
  overflow:hidden;
}
.lightbox-enabled:hover {
  transform:scale(1.1)
}
.lightbox-enabled {width:100%;
height:100%;
  position:absolute;
  top:0;
object-fit:cover;
cursor:pointer;}

.lightbox-container {width:100svw;
height:100svh;
position:fixed;
top:0;
left:0;
  display:flex;
  align-items:center;
  justify-content:center;
background-color:rgba(0,0,0,.6);
z-index:9999;
opacity:0;
pointer-events:none;
}

.lightbox-container.active {
  opacity:1;
  pointer-events:all;
}
.lightbox-image-wrapper {
  display:flex;
  transform:scale(0);
  align-items:center;
  justify-content:center;
  max-width:90vw;
  max-height:90vh;
  position:relative;
}
.lightbox-container.active .lightbox-image-wrapper {transform:scale(1);}
.lightbox-btn, #close {
  color:white;
  z-index:9999999;
 cursor:pointer; 
  position:absolute;
  font-size:50px;
}

.left {left:50px;}
.right {right:50px;}
#close {top:50px;
right:50px;}

.lightbox-image {
  width:100%;
  max-height:95vh;
  object-fit:cover;
 }

@keyframes slideleft {
  33% {transform:translateX(-300px);
  opacity:0;
  }
  66% {transform:translateX(300px);
  opacity:0;
  }
}


.slideleft {
   animation-name: slideleft;
 animation-duration: .5s; 
 animation-timing-function: ease; 
}
@keyframes slideright {
  33% {transform:translateX(300px);
  opacity:0;}
  66% {transform:translateX(-300px);
  opacity:0;}
}


.slideright{
   animation-name: slideright;
 animation-duration: .5s; 
 animation-timing-function: ease; 
}

.let-content li {
    padding-inline-start: 10px !important;
}
.custom-fluid{
    text-align: center; 
    position: relative; 
    box-sizing: border-box; 
    width: 100%; 
    max-width: 100%; 
    padding-left: 15%; 
    padding-right: 15%;
}
.let-content h4 {
    margin-top: 22px;
}
.let-content2-show {
    text-align: center;
    padding: 70px 0 35px 0;
    margin-top: -103px;
    position: relative;
    background-image: linear-gradient(#ffffff21, #ffffffd1, #fffffff7, #ffffff);
}
.let-content2 {
    height: 335px;
    overflow: hidden;
}
.let-content2-show button {
    padding: 4px 32px;
    border: none;
    color: #fff;
    font-weight: 600;
    background-color: #d8b069;
}

.property-images-slide .slide-item {
    position: relative;
}
.property-images-slide .slide-item span {
    position: absolute;
    top: 40px;
    background-color: #bc984b;
    color: #fff;
    padding: 2px 18px 2px 22px;
    font-size: 22px;
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}
.accordion-shortcode-content h5 {
    line-height: 28px;
}
.loading2 {
    mix-blend-mode: multiply;
    filter: grayscale(1);
}