@media (max-width: 991px) {
	body {
	    font-size: 14px !important;
	}
	header.haru-mobile-header .haru-mobile-header-wrap .haru-mobile-header-container .haru-mobile-header-inner .header-logo-mobile img {
	    max-height: 24px;
	}
	.teammember-list {
	    display: flex;
	    flex-direction: column;
	}
	.blog-list {
	    display: flex;
	    flex-direction: column;
	}
	#slider-17-slide-47-layer-9 {
	    letter-spacing: 1px !important;
	}
	.footer-social-shortcode-wrap .footer-social-content .social-list.align-left {
	    text-align: center;
	}
	.copyright-footer h2{
		text-align: center !important;
	}
	.custom-fluid {
        width: 100%;
        padding-left: 0px;
        padding-right: 0;
        margin-right: 0;
        margin-left: 0;
    }
    .ribbon1{
    	    right: 38px;
    }
    .ribbon1:after {
	    position: absolute;
	    left: 0;
	    bottom: -7px;
	}
	.widget_media_image img {
	    width: 100% !important;
	}
	#slider-17-slide-48-layer-42{
		line-height: 100px !important;
        width: 178px !important;
	}
	.property-images-slide .slide-item span{
        position: relative;
        top: 0px;
        left: 0;
        background-color: #bc984b;
        color: #fff;
        padding: 2px 30px 2px 20px;
        font-size: 16px;
    }
    .hero-music-btn rs-layer {
	    margin-top: -135px !important;
	}
	#slider-17-slide-48-layer-4 {
	    margin-left: -10px;
	}
	.vc_custom_1531122077430{
		background-image: none !important;
	}
	.images-gallery-shortcode-wrap.slick_2 .slide-count-wrap{
		    padding-bottom: 14px !important;
	}
	.enquiry-form h3{
		font-size: 36px !important;
	}
	.contact-form .contact-submit input{
		padding: 5px 20px;
		margin-bottom: 6px;
	}
	.enquiry-form{
		margin-bottom: 38px;
	}
	.stream-item h3, .stream-item span {
	    display: none;
	}
	.stream-item a {
	    display: flex;
	    justify-content: center;
	}
	.insta-para{
		font-size: 14px !important;
	}
	.images-gallery-shortcode-wrap.slick_2 .images-list .image-item.slick-active .slide-item {
	    filter: grayscale(0) !important;
	}
}